<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Koten.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Koten.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Koten.Settings1>
            <setting name="DocDestination" serializeAs="String">
                <value />
            </setting>
        </Koten.Settings1>
        <Koten.Properties.Settings>
            <setting name="bFloor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bWall" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bCeiling" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bRoof" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bComp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bDoor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bRail" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bStair" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bexcel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bReload" serializeAs="String">
                <value>True</value>
            </setting>
        </Koten.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>